---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import AboutMe from "../components/AboutMe";
import { TechStackSection, RecentWorkSection } from "../components/Sections";
---

<Layout 
  title="Gungde Aditya | Front-End Developer"
  description="Front-end developer with 3+ experience delivering scalable, performant, and conversion-focused web applications for modern digital products."
  image="/images/og-image.png"
>
  <div class="min-h-screen relative w-full overflow-hidden" id="home">


    <Hero client:load />
    <RecentWorkSection client:visible />
    <AboutMe client:load />
    <TechStackSection client:visible />
  </div>
</Layout>
